@import 'variables';
@import 'functions';
@import 'mixins';
// Reset
*{
  padding: 0;
  margin: 0;
}

body{
  background-color: $green-color;
  color: $light-color;
  font-family: $font-stack  ;
}

header{
  background-color: $secondary-color;
  color: set-text-color($secondary-color);
  padding: 1rem;

  h1{
    text-align: center;
  }

}

.section{
  padding: 3rem;

  h3{
    @include font(4rem, normal);
  }

  // Nesting
  &-a{//& means whatever the parent is and then-a
    background-color: $primary-color;
    color: set-text-color($primary-color);
    // border-bottom: 1px solid red;
  }
  &-b{//& means whatever the parent is and then-a
    background-color: $secondary-color;
    color: set-text-color($secondary-color);
    
  }

}

// Pseudo Nesting

a{
  color: $dark-color;
  &:hover{
    color: coral;
  }
}

%btn-shared{
  display: inline-block;
  padding: 0.7rem 2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
}

.btn{
  &-light{
    @extend %btn-shared;
    background-color: $light-color;
    color: set-text-color($light-color);

    &:hover{
      @include transform (rotate(-20deg));
    }
  }

  &-dark{
    @extend %btn-shared;
    background-color: $dark-color;
    color: set-text-color($dark-color);


    &:hover{
      @include transform (rotate(20deg));
    }
  }
}
